{% extends "base.html" %}
{% block title %}Invent - dashboard{% endblock %}
{% block content %}
<div class="row">
    <br>
</div>
<div class="row">
    <div class="col-sm-2">
        <h6>Inventory parts</h6>
        <p>
            <ul class="list-unstyled">
                <li> <a href="/parts/" class="text-sm-left"> Inventory parts overview</a></li>
                <li> <a href="/parts/details/" class="text-sm-left"> Create inventory part</a></li>
                <li><a href="/parts/instock/" class="text-sm-left"> Parts in stock</a></li>
            </ul>
        </p>
    </div>
    <div class="col-sm-2">
        <h6>Inventory locations</h6>
        <p>
            <ul class="list-unstyled">
                <li>Locations overview</li>
                <li>Stock by locations</li>
            </ul>
        </p>
    </div>
    <div class="col-sm-2">
        <h6>Inventory transactions</h6>
        <p>
            <ul class="list-unstyled">
                <li>Arrival</li>
                <li>Issue</li>
                <li>Move part</li>
                <li>Scrap part</li>
            </ul>
        </p>
    </div>
    <div class="col-sm-2">
        <h6>Customers and orders</h6>
        <p>
            <ul class="list-unstyled">
                <li><a href="/customer/" class="text-sm-left">Customer overview</a></li>
                <li><a href="/customer/details/" class="text-sm-left"> Create customer</a></li>
                <li><a href="/customer/addresses/" class="text-sm-left"> Delivery addresses</a></li>
                <li><a href="/customer/address_details/" class="text-sm-left"> Create delivery address</a></li>
                <li>Orders overview</li>
                <li>Create order</li>
            </ul>
        </p>
    </div>    
</div>

{% endblock %}