{% extends "base.html" %}
{% block title %}Invent - dashboard{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-3 col-md-6 col-lg-4">
            <a href="/parts/"> Inventory parts</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 col-md-6 col-lg-4">
             <a href="/parts/instock/"> Parts in stock</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-6 col-lg-4">
             <a href="/parts/instock/">Inventory transaction</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 col-md-6 col-lg-4">
             <a href="/orders/">Customer orders</a>
        </div>

    </div>
{% endblock %}